MGL7760-Alarm/src/Node-Red-Flow/AlarmExample_flowsFunctions_QualityAsurance_MGL7760.json
[{"id":"11b8745e.3dfd6c","type":"tab","label":"MGL-7760  TP3 Exemple","disabled":false,"info":""},{"id":"9fd7f587.015228","type":"particle-SSE","z":"11b8745e.3dfd6c","pcloud":"","subscribetype":"mine","devprodslug":"__DEVPRODSLUG__","devid":"","evtname":"alarm_event","strict":0,"x":310,"y":160,"wires":[["ae2629b9.9376b8"]]},{"id":"9837b738.988948","type":"debug","z":"11b8745e.3dfd6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":160,"wires":[]},{"id":"783bb72c.9859b8","type":"particle-SSE","z":"11b8745e.3dfd6c","pcloud":"","subscribetype":"mine","devprodslug":"__DEVPRODSLUG__","devid":"","evtname":"readings","strict":0,"x":300,"y":260,"wires":[["5c99dc18.97edc4"]]},{"id":"75ac90c4.d2a41","type":"debug","z":"11b8745e.3dfd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"ae2629b9.9376b8","type":"function","z":"11b8745e.3dfd6c","name":"Modify payload","func":"//payload.jsonData = payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["9837b738.988948"]]},{"id":"5c99dc18.97edc4","type":"function","z":"11b8745e.3dfd6c","name":"Error Embeded Code Example","func":"msg.payload.data1 = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["b972aaae.c1b288","6dc87d13.320074"]]},{"id":"6dc87d13.320074","type":"json","z":"11b8745e.3dfd6c","name":"","property":"payload.data1","action":"","pretty":false,"x":590,"y":400,"wires":[["75ac90c4.d2a41"]]},{"id":"b972aaae.c1b288","type":"debug","z":"11b8745e.3dfd6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":260,"wires":[]},{"id":"ef9519f5.e11378","type":"inject","z":"11b8745e.3dfd6c","name":"Alarm On","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":480,"wires":[["c00cab68.502bc8"]]},{"id":"68e0f067.b9c29","type":"inject","z":"11b8745e.3dfd6c","name":"Alarm Off","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":520,"wires":[["c00cab68.502bc8"]]},{"id":"1ce47d38.06c983","type":"debug","z":"11b8745e.3dfd6c","name":"Alarm Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":500,"wires":[]},{"id":"c00cab68.502bc8","type":"particle-func","z":"11b8745e.3dfd6c","pcloud":"","devid":"zombie_wizard","fname":"Alarm_OnOff ","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":580,"y":500,"wires":[["1ce47d38.06c983"]]},{"id":"230ef4f2.dadbfc","type":"inject","z":"11b8745e.3dfd6c","name":"ReadVars On","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":600,"wires":[["a297298a.aaa118"]]},{"id":"70b128fd.e1c0c8","type":"inject","z":"11b8745e.3dfd6c","name":"ReadVars Off","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":640,"wires":[["a297298a.aaa118"]]},{"id":"1700ae8a.67b5d1","type":"debug","z":"11b8745e.3dfd6c","name":"Vars Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":620,"wires":[]},{"id":"a297298a.aaa118","type":"particle-func","z":"11b8745e.3dfd6c","pcloud":"","devid":"zombie_wizard","fname":"Vars_OnOff","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":580,"y":620,"wires":[["1700ae8a.67b5d1"]]}]